Register application/sd-cwt+cwt and application/sd-kbt+cwt in CoAP Content Formats registry?

The COSE `typ` header can specify either a text string media format, or a uint16 from the [CoAP Content Formats Registry](https://www.iana.org/assignments/core-parameters/core-parameters.xhtml#content-formats). Do we want to pre-emptively register SD-CWT and SD-KBT media types in the IETF Review range (256-9999) [1] so they can be referred to in COSE by integer?

[1] see Table 10 in [RFC7252, Section 12.3](https://www.rfc-editor.org/rfc/rfc7252.html#section-12.3)

Discussed on our call, work in progress.

Fixed in PR #38 